.App {
  text-align: center;
}

/* Header Section CSS */

.nav-bar {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.nav-img {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  background-color: #ffc107;
  border-radius: 50%;
}

.img-name {
  font-family: 'Montserrat', sans-serif;
}

/* Body Section CSS (Projects) */

body {
  background-color: #F5F5F5;
  padding-top: 60px;
}

.h1-margin {
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
}

.hr-line {
  border-width: 6px;
  border-radius: 25px;
  border-color: #ffc107;
  height: 0px;
  width: 5%;
  margin: auto;
  margin-top: 20px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  border-radius: 10px;
  width: 500px;
  height: 350px;
  border: 3px solid #ffc107;
}

.project-name {
  font-family: 'Montserrat', sans-serif;
}

.card-img-top {
  height: 40vh;
  object-fit: fill;
}

.project-discription {
  margin: auto;
  padding-left: 50px;
}

.project-buttons {
  margin-top: 45px;
}

.button-margin {
  margin-right: 20px;
}

.btn-space {
  margin-right: 40px;
}

.custom {
  width: 130px !important;
  font-weight: 600;
}

/* Footer Section CSS */

.footer-hr {
  border-width: 2px;
  border-radius: 25px;
  border-color: gray;
  width: 25%;
  margin: auto;
}

.footer-linkedin {
  font-size: 30px;
  color: white;
}

.footer-name {
  font-family: 'Montserrat', sans-serif;
}